{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
<div class="col-lg-8 mt-2">
    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Log In</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="#!" method="POST">
                 {% csrf_token %}
                 {{ form|crispy }}

                <!-- Log In button -->
                <input class="btn btn-info my-4 btn-block" type="submit" value="Log In">
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}


