{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mt-3">
        <div class="card card-personal mb-4">
            <div class="text-center">
          {% if user.profile.theme_image  %}
          <div class="text-center" style="background-image: url('{{ user.profile.theme_image.url }}');  background-size: 100% 100%;">
          {% else %}
          <div class="text-center">
          {% endif %}
              {% if user.profile.image %}
            <img class="rounded-circle img-thumbnail mt-5" src="{{ user.profile.image.url }}" width="150" alt="">
          {% endif %}
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
            </div>
          <div class="card-body">
            <a>
              <h4 class="card-title">{{ user.username }}</h4>
            </a>
            <a class="card-meta">{{user.profile.profession}}</a>
            <p class="card-text">{{user.profile.about}}</p>

            <hr>
            {% if user.profile.friends.all|length >= 1  %}
            <a class="card-meta"><span><i class="fas fa-user"></i>{{user.profile.friends.all.count}} Friends</span></a>
            {% endif %}
              &nbsp
            {% if user.posts.all|length >= 1 %}
            <a class="card-meta"><span><i class="fas fa-user"></i>{{user.posts.all.count}} Posts</span></a>
            {% endif %}
            <p class="card-meta float-right">Joined in {{user.date_joined|date:"F d, Y"}}</p>

    </div>

  </div>
                         <div class="jumbotron">
     <h5 class="text-center" style="color:#495057;">My Profile</h5>
     <form class="form-control-xs " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            </fieldset>
            <hr class="my-4">
            <input type="submit" class="btn btn-primary btn-lg" value="Update">
        </form>
</div>
  </div>
</div>
</div>



  </div>
</div>
</div>
</div>


{% endblock %}