{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
<div class="col-lg-8">
<div class="user-profile" align="center">
  <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{{ user_profile.profile.image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ user_profile.username }}</h5>
     <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    {% if user_profile.posts.all|length >= 1 %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{user_profile.posts.all.count}}</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Posts</small>
                    </li>
                    {% endif %}
                    {% if user_profile.profile.friends.all|length >= 1  %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{user_profile.profile.friends.all.count}}</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Friends</small>
                    </li>
                    {% endif %}
                </ul>
            </div>
      {% if user.is_authenticated %}
     <div class="row">
         <div class="col-lg-6 pt-1">
            {% if button_status == 'not_friend' %}
                <a type="submit" class="btn btn-primary btn-md" href="{% url 'send_friend_request' pk=user_profile.pk %}">Add Friend</a>
            {% elif button_status == 'friend_request_sent' %}
                <a type="submit" class="btn btn-warning btn-md" href="{% url 'cancel_friend_request' pk=user_profile.pk %}">Cancel Request</a>
            {% else %}
                <a type="submit" class="btn btn-warning btn-md" href="{% url 'delete_friend' pk=user_profile.pk %}">Delete Friend</a>
            {% endif %}
         </div>
         <div class="col-lg-6 pt-1">
                <form  method="POST">
                    {% csrf_token %}
                    <input type=hidden name=action value="StartChat">
                    <input type="submit" class="btn btn-primary btn-md" name="Chat" value="Start Chat  ">
                </form>
            </div>
         </div>
      {% endif %}
  </div>
</div>
</div>
</div>
</div>
{% endblock %}